<div class="container my-5 student-table">
    <div class="row justify-content-center">
        <div class="col-md-15">
            <a class="btn btn-sm btn-primary" href="/add">Add People</a>
            <br>
            <br>
            <div class="card shadow">
                <div class="card-body">
                    <h2>All People</h2>
                    <hr>
                    <table class="table table-striped soro-data-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Photo</th>
                                
                                <th>Action</th>

                            </tr>
                        </thead>
                            
                        <tbody>
                            <tr>
                                <td>1 </td>
                                <td> Md. Shakib Hasan</td>
                                <td>018883232</td>
                                <td>sakib@gmail.com</td>
                                <td><img src="img/avatar/avatar.jpg " alt=""></td>
                                
                                <td>
                                    <a class="btn btn-info" href=""><i class="fas fa-eye"></i></a>
                                    <a class="btn btn-warning" href=""><i class="fas fa-edit"></i></a>
                                    <a class="btn btn-danger delete-btn" href=""><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>